ConnectionStrings__Postgres=Host=localhost;Port=5432;Database=easycob;Username=easycob_api;Password=change-me
Authentication__Authority=https://cognito-idp.sa-east-1.amazonaws.com/CHANGE_ME
Authentication__Audience=CHANGE_ME
COGNITO_DOMAIN=https://easycob-dev-SEU_SUFIXO.auth.sa-east-1.amazoncognito.com
COGNITO_CLIENT_ID=CHANGE_ME
AWS__Region=sa-east-1
AWS__QueueUrl=https://sqs.sa-east-1.amazonaws.com/ACCOUNT_ID/easycob-events
WhatsApp__VerifyToken=change-me
WhatsApp__AppSecret=change-me
WhatsApp__AccessToken=change-me
WhatsApp__GraphVersion=v23.0
